@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
}

.home-pop-up {
  background: linear-gradient(
    239.75deg,
    rgba(255, 255, 255, 0.7) 1.2%,
    rgba(255, 255, 255, 0) 70.51%
  );
  border-radius: 40px 40px 0px 0px;
  width: 500px;
  height: 315px;
  position: absolute;
  right: -327px;
  top: -88px;
}
